extends ../layout-admin

block head
  script(type='text/javascript', src='#{assetUrl}/javascripts/tinymce/tinymce.min.js')
  script()
    | tinymce.init({
    |   selector: "textarea",
    |   plugins: 'link, code',
    |   menubar: false,
    |   toolbar: 'undo redo | styleselect | removeformat | bold italic | link | unlink | code',
    |   style_formats: [
    |    {title: 'Normal', block: 'p'},
    |    {title: 'Bold text', inline: 'b'},
    |    {title: 'B head', inline: 'span', classes: 'bhead'},
    |   ]
    | });
block content
  form(action='/admin/items/new', method='POST')
    h1= title
    include ../partials/item_fields
    input(type='submit', value='Submit Item')
block scripts


