nav#nav
  ul
    a(href='/admin')
      li Admin Panel
    a(href='/admin/users')
      li List Users
    a(href='/admin/items')
      li List Items
    a(href='/admin/shipping')
      li List Shipping
    a(href='/admin/media')
      li List Media
    a(href='/admin/media/upload')
      li Upload Media
  a(href='/auth').btn.destroy Log Out
