input(type='text', name='option[option]', value= option.option || '', placeholder='Add option')
input(type='text', name='option[description]', value= option.description || '', placeholder='Add description')
input(type='text', name='option[defaultCost]', value= option.defaultCost || '', placeholder='Add defaultCost')
