input(type='text', name='shipping[service]', value= shipping.service || '', placeholder='Add service')
input(type='text', name='shipping[contact]', value= shipping.contact || '', placeholder='Add contact name')
input(type='text', name='shipping[tel]', value= shipping.tel || '', placeholder='Add contact number')
input(type='text', name='shipping[id]', value= shipping.service_id || '', placeholder='Add service ID')
input(type='text', name='shipping[pass]', value= shipping.pass || '', placeholder='Add service password')
