input(type='text', name='user[fname]', value= user.fname || '', placeholder='First Name')
input(type='text', name='user[lname]', value= user.lname || '', placeholder='Last Name')
include sign_fields.jade 
