html
  head
    body
      p Dear #{user.fname},
      p We have received a request to change your password. Please follow the link below and input your details including the keycode below.
      p Key Code: #{user.token}
      a(href='#{user.origin}/user/reset_password') #{user.origin}/users/reset_password
      p The Mail Robot
