html
  head
    body
      p Dear #{user.displayName},
      p We have received your request for the #{ item.title }.
      p We will be in touch shortly.
      p &nbsp;
      p Regards,
      p The Mail Robot



