html
  head
    body
      p= 'Dear ' + currentUser.fname + ','
      p You have received this message as an error has occured:
      p= err
      p We are aware of the problems and will be in touch with you shortly
      p The rewards Mail Robot


