html
  head
    body
      p Dear #{user.displayName},
      p Welcome to 20th Century Funking Junk
      p Please validate this email address using the link below. Once validated you will be able to post comments and submit articles through your control panel.
      a(href='http://www.thestinger.org.uk/validate/' + user._id) Validate here
      p We have many more exciting developments in the works so keep visiting.
      p &nbsp;
      p Regards,
      p The Mail Robot


