@import base

body
  font small-font/small-font uglyqua
  background-color prime-col
  color second-col

h1,h2,h3,h4
  font 14px/14px font-bold
  text-transform uppercase

a
  color: inherit

.facebookBtn
  background-color #3C5391 !important

form
  fieldset
    padding 1em
  input,
  select,
  textarea
    background none
    background-color second-col*0.2
    font-family uglyqua !important
    color second-col
  label
    font-family uglyqua

  input[type=submit]
    color prime-col
    text-shadow none

.btn,button,input[type='submit']
  buttonstyle()
  font-family font-med !important
